<form [formGroup]="valuesForm">
    <div mat-dialog-content>
        <div *ngFor="let element of valuesList">
            <div class="row">
                <div class="col-4">{{element}}</div>
                <div class="col-2"></div>
                <div class="col-4">
                    <input matInput formControlName="{{element}}">
                </div>
            </div>            
        </div>
    </div>

    <div mat-dialog-actions align="end" class="mt-4">
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
</form>
