<mat-toolbar color="primary">
    <button mat-icon-button (click)="openSideNav=!openSideNav">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Pokedex</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="openSideNav">

    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="row">
            <div class="col-2">
                <button mat-button [matMenuTriggerFor]="orderMenu">Sort by {{sortingByValue()}}</button>
                <mat-menu #orderMenu="matMenu">
                    <mat-radio-group aria-label="Select an option" (change)="setSortIncreasing($event.value)">
                        <mat-radio-button value="1" class="mx-1">Low to High</mat-radio-button>
                        <mat-radio-button value="0" class="mx-1">High to Low</mat-radio-button>
                    </mat-radio-group>
                    <button mat-menu-item (click)="this.orderBy('id')">ID</button>
                    <button mat-menu-item (click)="this.orderBy('name')">Name</button>
                    <button mat-menu-item (click)="this.orderBy('height')">Height</button>
                    <button mat-menu-item (click)="this.orderBy('weight')">Weight</button>
                    <button mat-menu-item (click)="this.orderBy('base_experience')">Base Experience</button>
                </mat-menu>

            </div>
            <div class="col-2">
                <button mat-button [matMenuTriggerFor]="filterMenu">Filter</button>
                <mat-menu #filterMenu="matMenu">
                    <button mat-menu-item (click)="openCheckboxDialog()">Type</button>
                    <button mat-menu-item>Traits</button>
                    <button mat-menu-item>Location</button>
                </mat-menu>
            </div>
        </div>
        
        <div class="row">
            <div *ngFor="let element of displayPoke; let i = index" class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
                <div class="navCard">
                    <a class="navBtn" routerLink="../info" (click)="selectPoke(i)">
                        <mat-card class="card">
                            <mat-card-title align="center">{{element.name}}</mat-card-title>
                            <div *ngIf="element.sprites != null" align="center">
                                <img [src]="element.sprites.front_default" width="100" height="100">
                            </div>
                        </mat-card>
                    </a>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>



