.navCard{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
}

mat-sidenav-container {
    /*position: fixed;*/
    min-height: 100%;
    min-width: 100%;
}

mat-sidenav {
    height: 100%;
    width: 15rem;
}

.PokeCardTitle{
    text-decoration: none;
}

.navBtn{
    text-decoration: none;
}

